<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEPARMENT PAGE</title>
    <link rel="stylesheet" href="/webjars/jquery-ui/1.14.0/jquery-ui.theme.css">
    <link rel="stylesheet" href="/webjars/jquery-ui/1.14.0/jquery-ui.css">
    <!-- USE WEBJAR FOR JQUERY AND JQUERY UI JS -->
    <script src="/webjars/jquery/3.7.1/jquery.js"></script>
    <script src="/webjars/jquery-ui/1.14.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/department-main.css">
</head>
<body>
<div th:replace="~{fragments/header}"></div>
<!-- MENU AND DOCUMENT -->
<div class="container-fluid mt-4">
    <div class="row">
        <!-- MENU BE LERT -->
        <div th:replace="~{fragments/menu}">

        </div>
        <!-- BODY IS RIGHT -->
        <div class="col-md-9">
            <div id="content" class="p-4 bg-light">
                <div class="container page-department">
                    <div class="row">
                        <!-- FORM FOR ADDING DEPARMENT -->
                        <div class="col-sm-4">
                            <h3 class="name-page"> Department Maintenance</h3>
                            <hr>
                            <form id="frmCategory" name="frmCategory">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="department_code" placeholder="Department Code">
                                    <label for="department_code">Department Code</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="department_name" placeholder="Department Name">
                                    <label for="department_name">Department Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="department_group" value="PUR"
                                           placeholder="Department Group">
                                    <label for="department_group">Department Group</label>
                                </div>
                                <br>
                                <div class="form-group" align="left">
                                    <div class="row">
                                        <div class="col-3">
                                            <button type="button" class="btn btn-success w-100" id="save">Add</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-warning w-100" id="update">Update</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-danger w-100" id="delete">Delete</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-secondary w-100" id="reset">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- TABLE AND PAGINATION CONTROLS -->
                        <div class="col-sm-8">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <!-- PAGE SIZE SELECTOR -->
                                <div>
                                    <label for="page-size-select">Records: </label>
                                    <select id="page-size-select" class="form-select d-inline-block w-auto">
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <div style="text-align: center">
                                    <h5 style="color: red" id="totalRecords">Total Records: </h5>
                                </div>
                                <!-- PAGINATION NAVIGATION -->
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous" id="btn-previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next" id="btn-next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="panel-body">
                                <!-- CATEGORY TABLE -->
                                <table id="tbl-department" class="table table-bordered" cellpadding="0" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Group</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- CATEGORY ROWS WILL BE LOADED HERE -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteConfirmationModalLabel">Confirm Deletion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Department?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/department-main.js"></script>
</body>
</html>
